.parent{
    padding: 25px;
    background-color: azure;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    height: 350px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.child{
    border: 2px solid lightskyblue;
    background: lightgrey;
    padding: 20px;
    font-size: 25px;
}